.bottom-bar {
    -fx-padding: 5px;
}

.bottom-bar-btn {
    -fx-padding: 5px 20px;
}

.fas-user-plus {
    -fx-graphic: url("icon/fas-user-plus.png");
}

.fas-user-edit {
    -fx-graphic: url("icon/fas-user-edit.png");
}

.fas-user-minus {
    -fx-graphic: url("icon/fas-user-minus.png");
}